.admin-dashboard {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
  }
  
  .dashboard-stats {
    background-color: #e1f5fe;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 30px;
  }
  
  .add-user-section, .update-user-section {
    margin-top: 20px;
  }
  
  h1, h3 {
    color: #2e7d32;
  }
  
  .primary-btn {
    padding: 10px 20px;
    background-color: #388e3c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  .admin-dashboard {
    padding: 20px;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
  }
  
  nav li {
    margin: 10px 0;
  }
  
  .view-users-btn {
    background-color: #4CAF50; /* Green background */
    color: white; /* White text */
    border: none; /* No border */
    padding: 10px 20px; /* Some padding */
    text-align: center; /* Center text */
    text-decoration: none; /* No underline */
    display: inline-block; /* Make it inline-block */
    font-size: 16px; /* Increase font size */
    cursor: pointer; /* Pointer cursor on hover */
    border-radius: 5px; /* Rounded corners */
  }
  
  .view-users-btn:hover {
    background-color: #45a049; /* Darker green on hover */
  }
  
  
  .primary-btn:hover {
    background-color: #2e7d32;
  }
  
  .input-box {
    width: 200px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  